body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  /*First section of the webpage*/

  .firstseperation,.footer{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    

  }
 
 .header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
  
  }
  .links{
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  .firstseperationmainflex{
    display: flex;
   
    gap: 50px;
    padding: 10px;
  }
  .firstseperationsecondaryflex{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width:400px;
  }

a{
  text-decoration: none;
  color: #e5e7eb;
}
.heading{
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}
.patti{
  width: 500px;
  height: 400px;

}
.heading1{
  font-size: 48px;
  font-weight:bolder;
}
.text1{
  font-size: 18px;
  color: #e5e7eb;
}
button{
  width: 100px;
  height: 40px;
  background-color: #3882f6;
  border-radius: 10px;
  border-color: #3882f6;
}

/*Second part of the webpage*/
.secondseperation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageboxes{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  border: 2px ;

}
.img{
  width: 250px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}
.text{
  max-width: 250px;
  text-align: center;
}

/*Third part of the webpage*/
.thirdseperation{
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  gap: 10px;
}
.AuthorofQoute{
  text-align: right;
  font-size: 20px;
  font-weight: bold;

}
/*Fourth part of the website*/
.fourthseperation{
  display: flex;
  justify-content: space-between;
  margin: 75px;
  border-radius: 10px;
  padding: 50px;
  background-color: #3882f6;
  color: #e5e7eb;
}
.signuptext{
  display: flex;
  flex-direction: column;

}
.button2{
  border: 1px solid white;
  color: white;
}
.signuptextheading{
  font-weight: bold;
}
/*footer*/
.footer{
  color: white;
  font-weight: bold;
  text-align: center;
}
